*
!engines.xlsx
!materials-tools.xlsx
!personnels.xlsx
!taskcards-boeing-737.xlsx
!taskcards-cn.xlsx
!tc-cn-235.xlsx
!tc-cpcp-trigana.xlsx
!users.xlsx
!work-areas.xlsx
!.gitignore
!cn-item-tc.xlsx
!cn-tool-tc.xlsx
!master-materials-tools-cn.xlsx
!master-materials-cn.xlsx
!master-tools-cn.xlsx